snippet {{
{{$1}}$0
endsnippet

snippet {{{
{{{$1}}}$0
endsnippet

snippet {{i
{{#if $1}}
$0
{{/if}}
endsnippet


snippet {{ie
{{#if $1}}
$0
{{else}}
{{/if}}
endsnippet


snippet {{e
{{#each $1}}
$0
{{/each}}
endsnippet


snippet {{w
{{#with $1}}
$0
{{/with}}
endsnippet
